* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background-color: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 0.8rem;
}
header > *:not(:last-child) {
  color: white;
  overflow: hidden;
  font-weight: 600;
}
.box {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 0;
  padding-top: 100%;
  position: relative;
}
h1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8bf4e;
}
.score {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
button {
  background-color: #f75e3e;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #fc7d63;
}
button:active {
  box-shadow: inset 0 0 10px black;
}
h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 1rem;
  text-align: center;
}

main {
  position: relative;
}

table {
  width: var(--width);
  height: var(--width);
  background-color: #a49381;
  margin-top: 1rem;
  border-spacing: 0.5rem;
}
td {
  background-color: #bfafa0;
}
#tiles-handler {
  width: calc(var(--width) - 1rem);
  height: calc(var(--width) - 1rem);
  position: absolute;
  transform: translate(0.5rem, calc(-100% - 0.5rem));
}
.tile {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-over {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

h3 {
  font-weight: 900;
  font-size: 2.5rem;
}

@media screen and (min-width: 700px) {
  body {
    background-color: #666666;
  }
  #app {
    padding: 1rem;
    background-color: papayawhip;
    width: 100%;
    max-width: 400px;
  }
  table {
    max-width: 400px;
    max-height: 400px;
  }
  #tiles-handler {
    max-width: calc(400px - 1rem);
    max-height: calc(400px - 1rem);
  }
}
